.Navbar{
    background-color: #161617cc;
    position: fixed;
    left: 0;
    right: 0;
}
.Navbar__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1024px;
    margin: 0 auto;
}
.Navbar__content-item{
    font-size: 14px;
    color: #fffc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Navbar__content-item:hover{
    color: #fff;
}
.Navbar__content-item svg {
    fill: #fffc;
}
.Navbar__content-item:hover svg {
    fill: #fff;
}
